<section class="todoapp">
			<header class="header">
				<h1>todos</h1>
				<input class="new-todo" placeholder="Make New List" autofocus="">
			</header>
			<section class="main">
				<input class="toggle-all" type="checkbox">
				<label for="toggle-all">Mark all as complete</label>
				<ul class="todo-list">
          <li>
            <div class="view">
              <label><a href="#">List1</a></label>
            </div>
          </li>
          <li>
            <div class="view">
              <label><a href="#">List2</a></label>
            </div>
          </li><li>
            <div class="view">
              <label><a href="#">List3</a></label>
            </div>
          </li>
        </ul>
			</section>
			<footer class="footer">

			</footer>
		</section>
