
  <section class="todoapp">
    <header class="header">
      <h1>To Do App</h1>
      <h2><%= @list.name %></h2>
      <input class="new-todo" placeholder="Add items to your list" autofocus="">
    </header>
    <section class="main">
      <ul class="todo-list">
        <li>
          <div class="view">
            <label>milk</label>
          </div>
        </li>

        <li>
          <div class="view">
            <label>eggs</label>
          </div>
        </li>

        <li>
          <div class="view">
            <label>brix</label>
          </div>
        </li>
      </ul

    </section>
    <footer class="footer" style="display: none;">
      <span class="todo-count"><strong>0</strong> items left</span>

      <button class="clear-completed" style="display: none;"></button>
    </footer>
  </section>
