
  <section class="todoapp">
    <header class="header">
      <h1>To Do App</h1>
      <input class="new-todo" placeholder="Create a New List" autofocus="">
    </header>
    <section class="main">
      <ul class="todo-list">
        <% @lists.each do |list| %>
        <li>
          <div class="view">
            <label><a href="#"><%= list.name %></a></label>
          </div>
        </li>
        <% end %>
      </ul

    </section>
    <footer class="footer" style="display: none;">
      <span class="todo-count"><strong>0</strong> items left</span>

      <button class="clear-completed" style="display: none;"></button>
    </footer>
  </section>
